{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center text-white mb-4"><i class="fas fa-envelope"></i> Contact Us</h1>
    <p class="text-white text-center mb-4">If you have any questions, feedback, or inquiries, feel free to reach out to us using the information below.</p>
    
    <div class="row mb-4">
        <div class="col-md-6">
            <h4 class="text-white"><i class="fas fa-envelope"></i> Email</h4>
            <p class="text-white">kubotahockey@outlook.com</p>
            <h4 class = "text-white"><i class = "fab fa-reddit"></i> Reddit </h4>
            <p class = "text-white">u/RobertKoho</p>
            <a href="https://buymeacoffee.com/kubotahockey" class="text-white" style="text-decoration: none;">
            <h4><i class="fas fa-coffee"></i> Buy me a coffee!</h4>
            <p class = "text-white">Kubota Hockey is free to use. If you wish to support the site, click the coffee icon above!</p>
            <a href="https://www.youtube.com/@WhatsHappeningHockey" class="text-white" style="text-decoration: none;">
            <h4 class = "text-white"><i class = "fab fa-youtube"></i> What's Happening Hockey Channel</h4>
            <p class = "text-white">Check out our What's Happening Hockey youtube channel for NHL video content</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}