<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}KUBOTA HOCKEY{% endblock %}</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- FontAwesome for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient">
        <a class="navbar-brand" href="{{ url_for('home') }}"><i class="fas fa-hockey-puck"></i> KUBOTA HOCKEY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('currentyear') }}"><i class="fas fa-calendar-alt"></i> Current Year</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('forecasts') }}"><i class="fas fa-chart-line"></i> 7 Year Projections</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('player_page') }}"><i class="fas fa-user"></i> Player Page</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams?team=Calgary+Flames"><i class="fas fa-users"></i> Team Pages</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}"><i class="fas fa-info-circle"></i> About</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}"><i class="fas fa-envelope"></i> Contact</a></li>
            </ul>
        </div>
    </nav>
    <main class="container mt-5">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer bg-dark text-light text-center py-3 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left">&copy; 2024 Kubota Hockey. All rights reserved.</div>
                <div class="col-md-6 text-center text-md-right social-icons">
                    <a href="https://buymeacoffee.com/kubotahockey"><i class="fa fa-coffee"></i></a>
                    <a href="https://www.youtube.com/@WhatsHappeningHockey"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/forecasts_scripts.js') }}"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script> <!-- Added D3.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/currentyear_scripts.js') }}"></script>
</body>
</html>
